<div style='text-align:center'>
  <h1>Welcome on Brest coworking website !</h1>
  <p>You are looking for a coworking place to rent in Brest? Get into our waiting list:</p>
  <%= form_for @waiting_user, :remote => true do |f| %>
    <div class='item-form'>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder:'Harry', class:'input'%>
      <p class='error-message'></p>
    </div>
    <div class='item-form'>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder:'Hall', class:'input' %>
      <p class='error-message'></p>
    </div>
    <div class='item-form'>
      <%= f.label :phone %>
      <%= f.text_field :phone, placeholder: '0619014050', id:'input-phone', class:'input' %>
      <p class='error-message'></p>
    </div>
    <div class='item-form'>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder:'harry.hall@gmail.com', id:'input-email', class:'input' %>
      <p class='error-message'></p>
    </div>
    <%= f.submit id:'submit-btn' %>
  <% end %>
  <p>You will be asked to confirm your registration by e-mail right after submitting this form.</p>
  <p> Then, you will receive an email every 15 days to remain on the waiting list.</p>
</div>